#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  @include sans-base;
  overflow-x: hidden;
}

p:not(:last-of-type) {
  margin-bottom: var(--space-md);
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;

  &:hover {
    text-decoration: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.light {
  background: linear-gradient(90deg, var(--color-hazelight) 0%, var(--color-moonlight) 50%, var(--color-hazelight) 100%,);
  color: var(--color-root);

  a {
    color: var(--color-jade);
  }
}

.dark {
  background: linear-gradient(90deg, var(--color-oceandark) 0%, var(--color-ocean) 50%, var(--color-oceandark) 100%,);
  color: var(--color-seafoamdark);

  a {
    color: var(--color-seafoamdark);
  }
}