#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // overflow-x: hidden;
}

body {
  @include sans-base;
  // overflow-x: hidden;
}

.ui-wrapper {
  background-blend-mode: overlay;
  height: 100%;
  // width: 100vw;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-indigo);
  background-attachment: fixed;
}

* {
  scrollbar-color: var(--color-seafoamdark) var(--color-jade);
}

p:not(:last-of-type) {
  margin-bottom: var(--space-md);
}

a {
  text-decoration: underline;
  text-underline-offset: 3px;

  &:hover {
    text-decoration: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}