:root {
  --color-haze: #dfd4d8;
  --color-hazelight: #f8f4f6;
  --color-hazedark: #d4c7cb;
  --color-moonlight: #fcf8fa;
  --color-jade: #437254;
  --color-grape: #453f67;
  --color-lilac: #486aaa;
  --color-periwinkle: #c6e4f6;
  --color-root: #3D3131;
  --color-ocean: #042828;
  --color-oceandark: #051e1e;
  --color-abyss: #041313;
  --color-seafoam: #e4ede5;
  --color-seafoamdark: #aeb9af;
  --color-rootlight: #3d313140;
}