/* Mirra OTF font for heading is inlined to reduce FOUC - see index.html. */
@import "@fontsource/goudy-bookletter-1911";
@import "@fontsource-variable/mulish";

/** SANS **/
:root {
  --font-family-sans: 'Mulish Variable', sans-serif;
}

@mixin sans-sm {
  font-family: var(--font-family-sans);
  font-size: var(--sans-sm);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-sm);
}

@mixin sans-base {
  font-family: var(--font-family-sans);
  font-size: var(--sans-base);
  line-height: calc(var(--line-height-base) * 1.25);
}

@mixin sans-lg {
  font-family: var(--font-family-sans);
  font-size: var(--sans-lg);
  line-height: var(--line-height-base);
}

/** SERIF **/
:root {
  --font-family-serif: 'Goudy Bookletter 1911', sans-serif;
}

@mixin serif-base {
  font-family: var(--font-family-serif);
  font-size: var(--serif-base);
  line-height: var(--line-height-base);
}

@mixin serif-lg {
  font-family: var(--font-family-serif);
  font-size: var(--serif-lg);
  font-weight: 400;
  line-height: var(--line-height-base);
}

@mixin serif-xl {
  font-family: var(--font-family-serif);
  font-size: var(--serif-xl);
  font-weight: 400;
  line-height: var(--line-height-base);
}

/** DISPLAY **/

@mixin display {
  font-family: "Mirra", sans-serif;
  font-size: var(--sans-2xl);
  line-height: var(--line-height-base);
}