@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Mulish:wght@300;400;600&display=swap');

/** SANS **/
:root {
  --font-family-sans: 'Mulish', sans-serif;
}

@mixin sans-sm {
  font-family: var(--font-family-sans);
  font-size: var(--sans-sm);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-sm);
}

@mixin sans-base {
  font-family: var(--font-family-sans);
  font-size: var(--sans-base);
  line-height: var(--line-height-base);
}

@mixin sans-lg {
  font-family: var(--font-family-sans);
  font-size: var(--sans-lg);
  line-height: var(--line-height-base);
}

/** SERIF **/
:root {
  --font-family-serif: 'Goudy Bookletter 1911', sans-serif;
}

@mixin serif-base {
  font-family: var(--font-family-serif);
  font-size: var(--serif-base);
  line-height: var(--line-height-base);
}

@mixin serif-lg {
  font-family: var(--font-family-serif);
  font-size: var(--serif-lg);
  line-height: clamp(var(--line-height-base), var(--line-height-base) + 0.1vw, var(--line-height-sm));
}