/* @link https://utopia.fyi/type/calculator?c=320,12,1.414,1400,14,1.414,1,0,768&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/** SANS SERIF SIZES **/
:root {
  /* Step -1: 9.90px → 11.32px */
  --sans-sm: clamp(0.7075rem, 0.5925rem + 0.1315vw, 0.7075rem);

  /* Step 0: 14.00px → 16.00px */
  --sans-base: clamp(0.875rem, 0.838rem + 0.1852vw, 1rem);

  /* Step 1: 19.80px → 22.62px */
  --sans-lg: clamp(1.2375rem, 1.1853rem + 0.2611vw, 1.4138rem);
}

/** SERIF SIZES **/
:root {
  /* Step -1: 14.14px → 16.97px */
  --serif-sm: clamp(0.8838rem, 0.8313rem + 0.262vw, 1.0606rem);

  /* Step 0: 20.00px → 24.00px */
  --serif-base: clamp(1.25rem, 1.1759rem + 0.3704vw, 1.5rem);

  /* Step 1: 28.28px → 33.94px */
  --serif-lg: clamp(1.7675rem, 1.6627rem + 0.5241vw, 2.1213rem);
}

/** LINE HEIGHTS **/
:root {
  --line-height-sm: 1.1;
  --line-height-base: 1.2;
}