@mixin list-inline {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-sm);
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

@mixin list-vertical-full {
  display: flex;
  flex-flow: column wrap;
  gap: var(--space-sm);
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}