.layout {
  height: calc(100vh - 2rem);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-blend-mode: overlay;
  color: var(--color-haze);
  border-radius: 2rem;
  @include container;
  position: relative;
  overflow: hidden;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  width: 100vw
}

.layout-border {
  height: 100vh;
  width: 100vw;
  // display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  display: grid;
  // grid-template-columns: 5fr 1fr;
}

.text-wrapper {
  @include container;
  grid-column: 2 / 3;
}

.text1 {
  @include display;
  color: var(--color-haze);
  font-size: var(--serif-3xl);
  font-weight: 600;
  letter-spacing: 9px;
  line-height: .9;
  margin-top: 1rem;
}

.text2 {
  // @include serif-xl;
  @include sans-lg;

}

.divider {
  @include animation--border-horizontal;
  height: 3px;
  border: var(--border-haze-1-subtle);
  margin: var(--space-md) 0;
}

.links {
  color: green;
}

.chiclets {
  @include featured-chiclet;
  position: relative;
  margin-bottom: 1rem;
  display: inline-block;
}

.item {
  // background: var(--color-hazelight);
}

.title {
  @include sans-lg;
}