main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  @include container;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-md);
  width: 100%;
  margin: 1rem;
  padding-bottom: 4rem;
  border-radius: 2rem;
  color: var(--color-abyss);
  background-color: var(--color-hazelight);

  &__section-heading {
    grid-column: 1 / 4;
  }
}