@mixin chiclet-list {
  @include list-inline;
  gap: var(--space-xs);
  li {
    @include chiclet;

    &:has(.chiclet) {
      background: transparent;
      padding: 0;
      letter-spacing: normal;
      font-weight: inherit;
      color: inherit;
    }
  }
}