.intro {
  @include container;
  @include container-bottom-margin;
  @include grid;
  padding-top: var(--space-2xl-3xl);
  animation: var(--fadeIn);

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }

  &__copy {
    @include serif-base;
    grid-column: 1 / span 12;
    grid-row: 1;
    margin-right: calc(var(--grid-gutter) * -1);
    border-radius: var(--space-lg) 0 0 var(--space-lg);
    padding: var(--space-lg);

    p {
      max-width: var(--max-width-text);
    }

    p:first-child {
      @include serif-lg;
    }
  }

  &__art {
    @include image-with-caption;
    grid-column: 1 / span 6;
    grid-row: 2;
  }

  @media screen and (min-width: 768px) {
    &__copy {
      grid-column: 5 / span 9;
      grid-row: 1;
      padding-left: var(--grid-gutter);
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: calc(var(--grid-gutter) * -1);
        right: var(--grid-gutter);
        width: 2px;
        @include animation--border-vertical;
      }

      p {
        opacity: 0;
        animation: var(--fadeInSlow);
        animation-delay: .2s;

        @media (prefers-reduced-motion: reduce) {
          animation: none;
          opacity: 1;
        }
      }
    }
    
    &__art {
      grid-column: 1 / span 4;
      grid-row: 1;
    }
  }

  @media screen and (min-width: 1024px) {
    &__copy {
      grid-column: 6 / 13;
      grid-row: 1;
      margin-left: calc(var(--grid-gutter) * 2);
    }
    
    &__art {
      grid-column: 2 / span 4;
      grid-row: 1;
    }
  
  }
}

.light .intro {
  &__copy {
    background: var(--color-haze);
    border: var(--border-hazedark-1);
    color: var(--color-root);

    &:before {
      background: var(--color-jade);
    }
  }

  &__art {
    @include image-with-caption--light;
  }
}

.dark .intro {
  &__copy {
    background: var(--color-oceandark);
    border: var(--border-abyss-1);

    &:before {
      background: var(--color-jade);
    }
  }

  &__art {
    @include image-with-caption--dark;
  }
}