.intro {
  @include container;
  @include grid;

  &__copy {
    grid-column: 1 / span 12;
    grid-row: 1;
    @include serif-base;

    p {
      max-width: calc(var(--serif-base) * 25);
    }

    p:first-child {
      @include serif-lg;
    }
  }

  &__art {
    grid-column: 1 / span 6;
    grid-row: 2;
  }

  @media screen and (min-width: 768px) {
    &__copy {
      grid-column: 5 / span 9;
      grid-row: 1;
      padding-left: var(--grid-gutter);
      border-left: var(--border-haze-2);    
    }
    
    &__art {
      grid-column: 1 / span 4;
      grid-row: 1;
    }
  }

  @media screen and (min-width: 1024px) {
    &__copy {
      grid-column: 6 / 12;
      grid-row: 1;
      padding-left: var(--grid-gutter);
      border-left: var(--border-haze-2);    
    }
    
    &__art {
      grid-column: 2 / span 4;
      grid-row: 1;
    }
  
  }
}

/*** DEBUG ***/
.intro__art {
  @include image-with-caption;
}

.intro__art {
  picture {
    border: var(--border-haze-2);
    @include aspect-home;
    background: gray;
  }
}