.main-menu {
  display: flex;
  align-items: center;
  background: var(--colors-surface-invert-brand-distinguished);
  border-radius: var(--spacing-md);

  @media screen and (min-width: 768px) {
    margin: var(--spacing-2xs);
    justify-content: space-between;
    padding-right: var(--spacing-sm);
  }
  
  a {
    display: inline-block;
    color: var(--color-seafoam);
    text-decoration: none;
    font-weight: 600;
    padding: var(--spacing-3xs);

    &:hover {
      color: var(--color-sexyorange);
      transition: color .3s var(--cubic-bezier);
    }

    &:not(.main-menu__title__link).active {
      color: var(--color-seafoam);
      text-decoration: underline;
      text-decoration-color: var(--color-sexyorange);
      text-underline-offset: 7px;
    }

    &.active:hover {
        color: var(--color-sexyorange);
    }
  }

  &__title {
    @include sans-lg;
    letter-spacing: .1rem;
    font-weight: 450;

    @media screen and (min-width: 768px) {
      @include sans-base;
    }
  }

  &__fleur {
    display: none;
    color: var(--color-sexyorange);
    font-size: 0.75em;
    margin-inline-end: 0.35em;
  }

  h2 {
  
    display: none;
  }

  &__nav ul {
    @include list-inline;
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      order: 2;
    }
  }

  .theme-select {
    @media screen and (min-width: 768px) {
      order: 3;
      justify-self: flex-end;
    }    
  }
}