.main-menu {
  padding-inline-start: 0;  
  background-blend-mode: overlay;
  background-position-x: calc(100vw / 2);  /* magic number used for text effect */ 

  @media screen and (min-width: 768px) {
    background-size: auto;
    background-position-x: 0;
  }

  > * {
    @include container;
  }

  &__title {
    a {
      @include display;
      position: relative;
      display: flex;
      justify-content: center;      
      padding-top: var(--space-2xs);
      text-decoration: none;
      letter-spacing: var(--letter-spacing-lg);            
      background-clip: text;
      color: transparent;
      background-position: 0;
      background-size: 43rem; /* magic number used for text effect */ 

      @media screen and (min-width: 768px) {
        width: fit-content;
      }

      &:after {
        content: 'Chelsie Johnston';
        font-family: "Mirra";
        position: absolute;
        color: #2a5b47;
        z-index: -1;
      }
    }
  }

  &__menu {
    @include list-inline;
    justify-content: center;
    background: var(--color-haze);
    border-bottom: var(--border-hazedark-1);
    background-position-x: center;
    background-attachment: fixed;
    position: relative;
    opacity: .95;

    @media screen and (min-width: 768px) {
      justify-content: flex-end;
    }

    @media screen and (min-width: 1280px) {
      border-radius: 14px 14px 0 0;
      margin-left: auto;
    }

    a {
      @include sans-lg;
      display: inline-block;
      padding: var(--space-lg) var(--space-xs);
      color: var(--color-root);
      text-decoration: none;
      transition: var(--padding);

      @media screen and (min-width: 768px) {
        padding: var(--space-sm) var(--space-md);
        transition: var(--padding);
      }

      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--color-jade);
        text-underline-offset: 5px;
        color: var(--color-jade);
      }

      /* Active class provided by react-router-dom. */
      &.active {
        text-decoration: underline;
        text-decoration-color: var(--color-jade);
        text-underline-offset: 5px;
      }
    }
  }
}