.masthead {
  grid-column: 1 / 2;
  background: url('/assets/images/rectangles.svg') no-repeat top center;
  background-size: cover;
  @media screen and (min-width: 768px) {
    background-size: contain;
  }

  @media screen and (min-width: 1024px) {
    align-self: start;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    padding: 10vh 0;

    @media screen and (min-width: 768px) {
      padding: 20vh 0;
    }

    &--fade-in {
      opacity: 0;
      animation: fadeIn 0.2s ease-in forwards;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
        opacity: 1;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
  }

  h1 {
    @include display;
    color: var(--colors-text-brand-distinguished);
    text-box: trim-both cap alphabetic;
  }

  &__intro__description {
    @include serif-lg;
    color: var(--colors-text-brand-distinguished);
    text-align: center;

    &__highlight {
      color: var(--colors-text-brand-primary);
      background: var(--colors-surface-body-distinguished);
      padding: 0 .25rem;
    }
  }

  .text-label {
    margin-bottom: 0;
  }
}

.masthead__contents--centered {
  padding: var(--spacing-sm) var(--spacing-2xs);
}

.masthead__contents--full {
  padding: var(--spacing-xs);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    gap: var(--spacing-xs);
    padding: var(--spacing-2xs) var(--spacing-xs) var(--spacing-xs);

    .avatar {
      --avatar-stroke: clamp(0.125rem, 0.0231rem + 0.5093vw, 0.4688rem);
      display: block;
      flex-shrink: 0;
      align-self: stretch;
      height: auto;

      img {
        height: 100%;
        width: auto;
        aspect-ratio: 1;
        object-fit: cover;
      }
    }

    .masthead__text {
      align-items: start;
    }

    .masthead__intro__description {
      @include serif-base;
      text-align: left;
    }
  }

  @media screen and (min-width: 1700px) {
    padding: var(--spacing-sm) var(--spacing-md);
  }
}
