.masthead {
  grid-column: 1 / 4;
  background: url('/assets/images/rectangles.svg') no-repeat center center;
  background-size: cover;

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs) 0;

    @media screen and (min-width: 768px) {
      gap: var(--spacing-xs);
      padding: var(--spacing-2xl) 0;
    }
  }

  h1 {
    @include display;
    color: var(--colors-text-brand-distinguished);
    text-box: trim-both cap alphabetic;
  }

  &__intro__description {
    @include serif-lg;
    color: var(--colors-text-brand-distinguished);
    text-align: center;

    &__highlight {
      color: var(--colors-text-brand-primary);
      background: var(--colors-surface-body-distinguished);
      padding: 0 .25rem;
    }
  }
}