.masthead {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-md);

  &__intro {
    @include sans-lg;
    grid-column: 1 / 4;
    color: var(--color-abyss);
    margin-top: 3rem;

    @media screen and (min-width: 768px) {
      // grid-column: 1 / 3;
    }

    .fancy {
      @include display;
      display: block;
      color: var(--color-jade);
      font-size: var(--serif-3xl);
      font-weight: 600;
      letter-spacing: 9px;
      line-height: .9;
      margin-top: 1rem;
    }

    ul {
      @include list-inline;
      @include sans-base;
      margin-top: 1rem;
      font-weight: 800;
      letter-spacing: .05rem;
    
      a {
        color: var(--color-jade);
      }
    }
  }

  &__filters {
    // @include sans-lg;
    grid-column: 1 / 4;    

    @media screen and (min-width: 768px) {
      grid-column: 3 / 4;
      grid-row: 1;
      margin-top: 5rem;
    }

    p {
      @include sans-base;
      font-weight: 700;
      // display: none;
      color: var(--color-abyss);
      margin-bottom: 1rem;

      @media screen and (min-width: 768px) {
        text-align: right;
      }
      
    }

    &__list {
      @include chiclet-list;
      margin-top: 2rem;

      @media screen and (min-width: 768px) {
        @include list-inline;
        justify-content: flex-end;
        gap: .5rem;
      }

      li { 
        @include serif-sm;
        color: var(--color-ocean);
        font-weight: 300;
        background: transparent;

        &:not(:last-child):after {
          // content: '/';
          margin-left: 1rem;
        }

        // @media screen and (min-width: 768px) {
        //   font-size: calc(var(--sans-base) * .9);
        // }
      }
    }
  }

  .divider {
    @include animation--border-horizontal;
    height: 3px;
    border: var(--border-haze-1-subtle);
    
    @media screen and (min-width: 768px) {
      margin: var(--space-md) 0;
    }
  }
}