.projects {
  @include container-with-insets;  
  padding-top: 0;
  display: flow-root;
  grid-column: 1 / 4;
  background-color: var(color--haze);
  background-position-x: center;
  background-attachment: fixed;  
  animation: var(--fadeIn);
  animation-duration: .2s;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }

  &__title {
    @include heading-underline;
    color: var(--color-abyss);
    grid-column: 1 / span 12;
    margin-bottom: var(--space-lg);
  }

  &__menu {
    @include grid;
    @include list-vertical-full;
  }

  &__menu > li {
    grid-column: 1 / span 12;
    padding-bottom: var(--space-sm);
    border-bottom: var(--border-haze-2);
    order: 2;

    &.featured {
      order: 1;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  .inset {
    @include container-inset-margins;
    @include container-bottom-margin;
    background: var(--color-hazelight);
    border: var(--border-haze-1-subtle);
    border-radius: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

}