.teaser {
  @include grid;
  gap: calc(var(--space-sm) / 2);
  padding: var(--space-lg) 0;
  color: var(--color-abyss);
  text-decoration: none;

  > * {
    grid-column: 1 / span 12;
  }

  &__title {
    @include serif-lg;
    font-weight: 400;
  }

  // @todo: move me to a molecule
  &__list {    
    @include chiclet-list;
    font-size: calc(var(--sans-sm) * 1.1);
    margin-top: 0;
    // font-size: calc(var(--sans-base) * .9);

    li {
      background: var(--color-jade)
    }
  }

  &__image {
    border: var(--border-haze-2);    
  }

  &__short-description {
    @include sans-base;
    margin-bottom: var(--space-xs);
  }

    @media screen and (min-width: 1024px) {
    grid-column-gap: var(--space-xl);

    &__title,
    &__short-description,
    &__list {
      grid-column: 1 / span 6;      
    }

    &__title {
      grid-row-start: 1;
    }
    
    &__image-wrapper {
      grid-column: 7 / span 6;
      grid-row: 1 / 6;
    }

    &__short-description {          
      grid-row-start: 2;
    }

    &__list {
      grid-row-start: 3;
      margin-top: 0;
      padding-top: 0;
    }
  }

  &:hover {
    .teaser__title {
      text-decoration: underline;
      text-decoration-color: var(--color-sexyorange);
      text-underline-offset: 7px;
      // color: var(--color-jade);
    }
    .teaser__image {
      opacity: .5;
      transition: var(--fade);
    }
  }
}

.featured .teaser {  
  padding-top: 0;

  &__featured-chiclet {
    @include featured-chiclet;
  }

  &__title {
    @include serif-lg;
  }
}