.testimonial {
  @include container-with-insets;
  @include sans-lg;
  margin-top: calc(-3 * var(--space-sm));
  padding-top: calc(6* var(--space-sm));
  padding-bottom: calc(6* var(--space-sm));
  min-height: 80vh;
  width: 100%;
  line-height: var(--space-lg);
  background: linear-gradient(45deg, var(--color-oceandark), var(--color-ocean), var(--color-oceandark));
  color: var(--color-seafoam);

  .inset {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-2xl);
    align-items: center;

    @media screen and (min-width: 1230px) {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__topics {
    @media screen and (min-width: 1230px) {
      grid-column: 2;
      grid-row: 1;
    }

    ul {
      @include chiclet-list;
      justify-content: center;
      padding: 0 var(--space-xl);

      @media screen and (min-width: 1230px) {
        justify-content: flex-end;
        grid-column: 2;
        grid-row: 1;
      }

      li {
        font-size: calc(var(--sans-base) * .95);
        background: var(--color-jade);
      }
    }


  }

  &__writing {
    border-left: solid 3px var(--color-lilac);
    padding: var(--space-lg);

    @media screen and (max-width: 1230px) {
      width: fit-content;
      margin: 2rem auto;
    }

    @media screen and (min-width: 1230px) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  p {
    max-width: 55ch;
    letter-spacing: .02rem;
  }

  &__attribution {
    @include sans-base;
  }
}