@import url('https://fonts.googleapis.com/css2?family=Alata&family=Goudy+Bookletter+1911&family=Raleway:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-floralwhite;
    @apply font-body text-licorice font-sans;
  }
 
  /* h1 {
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    background: url('/src/assets/images/textbg.png') repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply animate-textBackground;
  } */

  /* main a {
    @apply text-moss hover:text-tawny;
  } */
}

@layer components {
  :root {
    --main-menu-height: 70px;
  }

  .title {
    @apply text-hazelight;
    @apply font-sans; 
    @apply text-5xl;
    @apply md:text-3xl;
    @apply lg:text-4xl;
    @apply font-serif;   
  }

  .title-highlight {
    @apply bg-jade;
    @apply inline-block;
    @apply p-2;
  }

  .section {
    @apply px-5;
    @apply pb-24;
    @apply bg-haze;
    @apply pt-12;
    @apply lg:px-24;  
  }

  .link {
    @apply text-jade;
    @apply underline;
    @apply underline-offset-4;
    @apply font-serif;
    @apply text-2xl;
    @apply font-bold;    
    @apply inline-block;   
  }

  .card {
    @apply bg-floralwhite shadow-lg rounded-lg overflow-hidden;  
    @apply font-normal;
    @apply block p-10 space-y-3;
  }

  .card h2 {
    @apply font-sans text-3xl text-licorice;    
  }
  
  .card .button {
    @apply invisible;
  }

  .card:hover {
    @apply text-licorice;
  }

  .card:hover img {
    @apply opacity-50;
    @apply transition-opacity ease-in duration-300
  }

  .card:hover .button {
    @apply visible;
  }

  .projects-menu a {
    @apply text-licorice hover:text-tawny;
  }

  .main-menu {
    @apply flex;
    @apply justify-center md:justify-end;
    @apply px-3;
    @apply bg-hazelight;
    @apply border-jade border-b-2;
    @apply h-[--intro-height];
  }

  .main-menu__item {
    @apply p-5;
    @apply text-xl;    
  }

  .main-menu__item a {
    @apply animate-linkHover;
    @apply border-haze border-b-2;
  }

  .main-menu__item a:hover {
    @apply text-jade;
    @apply border-jade border-b-2;
    @apply animate-linkHover;
  }

  .intro {
    @apply section;
    @apply md:grid;
    @apply md:grid-cols-3;  
    min-height: calc(100vh - var(--main-menu-height));
  }

  .intro__title {   
   @apply text-hazelight;
   @apply font-sans; 
   @apply text-5xl;
   @apply md:text-3xl;
   @apply lg:text-4xl;
   @apply font-serif;    
  }

  .intro__title__highlight {
    @apply bg-jade;
    @apply inline-block;
    @apply p-2;
  }

  .intro__copy {
    @apply text-root;
    @apply space-y-8;
    @apply pt-12;
    @apply md:pt-0;
    @apply font-serif;
    @apply text-2xl;
    @apply md:col-span-2;
  }

  .intro__copy--special {
    @apply text-3xl
  }

  .intro__cta {
    @apply text-jade;
    @apply underline;
    @apply underline-offset-4;
    @apply font-serif;
    @apply text-2xl;
    @apply font-bold;    
    @apply inline-block;    
  }

  .intro__cta:hover {
    @apply no-underline;
  }

  .projects {
    @apply section;
  }

  .projects__menu {
    @apply flex;
    @apply flex-col;
    @apply md:grid;
    @apply md:grid-cols-2;
    @apply mt-6;
    /* @apply bg-hazelight; */
    /* @apply p-2; */
  }

  .projects__menu li {
    order: 2;
  }

  .projects__menu .featured {
    @apply order-1;
    @apply md:col-span-2;
  }

  .projects__title {
    @apply title;
    @apply text-root;
    @apply text-3xl;
  }

  .projects__title__highlight {
    @apply bg-grape;
    @apply text-haze;
  }

  .projects__menu__link {
    @apply block;
    /* @apply font-serif; */
    /* @apply p-6; */
    @apply border-b-2;
    @apply py-6;
  }

  .teaser__title {
    @apply title;
    @apply text-3xl;
    @apply text-root;
  }

  .teaser {
    @apply space-y-3;
  }

  .teaser__image {
    @apply rounded-sm;
  }

  /* .projects__title__highlight {
    @apply title-highlight;
    @apply text-2xl;
    @apply bg-grape;
  } */
  
}

@layer utility {
  .smallcaps {
    @apply text-xs uppercase tracking-widest font-sans text-licorice text-center;
  }

  .button {
    @apply ml-2 mr-2 p-10 pt-5 pb-5 rounded-sm bg-yellow hover:bg-tawny font-serif text-2xl;
  }

  .card:hover .button {
    @apply visible;
    @apply ml-2 mr-2 p-10 pt-5 pb-5 rounded-sm bg-citrine hover:bg-citrine text-licorice font-serif text-2xl;
  }
}