@import url('https://fonts.googleapis.com/css2?family=Alata&family=Goudy+Bookletter+1911&family=Raleway:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-hazelight;
    @apply font-body text-root font-sans;
  }
}

@layer components {
  :root {
    --main-menu-height: 70px;
  }

  /** COMMON STYLES **/

  .title {
    @apply text-hazelight;
    @apply font-sans; 
    @apply text-5xl;
    @apply md:text-3xl;
    @apply lg:text-4xl;
    @apply font-serif;   
  }

  .title-highlight {
    @apply bg-jade;
    @apply inline-block;
    @apply p-2;
  }

  .special {
    @apply font-serif;
    @apply text-3xl;
  }

  .section {
    @apply px-5;
    @apply pb-24;
    @apply bg-haze;
    @apply pt-12;
    @apply lg:px-24;  
  }

  .link {
    @apply text-jade;
    @apply underline;
    @apply underline-offset-4;
    @apply font-serif;
    @apply text-2xl;
    @apply font-bold;    
    @apply inline-block;   
  }

  .link-hover {
    @apply no-underline;
  }

  .image-border {
    @apply border-2 border-haze;
  }

  .caption {
    @apply text-xs;
  }

  .list-chiclets {
    display: inline-block;
    @apply bg-tomato;
    @apply rounded-sm;
    @apply text-hazelight;
    @apply p-1;
    @apply m-1;
    @apply text-xs;
    @apply lg:text-base;
    @apply lg:text-sm;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn .1s ease-in;
  }  

  /** MAIN MENU **/

  .main-menu-wrapper {
    @apply grid bg-jade;
    background: src('/assets/images/nouveau-bg.png');
  }

  .main-menu__title {   
    @apply text-hazelight/75;
    transition: opacity .3s ease;
    @apply font-sans; 
    @apply text-2xl;
    @apply font-serif; 
    letter-spacing: 1px;
    @apply ml-6;   
    @apply py-6;
   }
 
   .main-menu__title__link {
     @apply hover:opacity-50;
   }

   .main-menu__title__link:hover {
    transition: opacity .3s ease;
  }

  .main-menu__menu {
    @apply flex;
    @apply justify-center md:justify-end;
    @apply px-3;
    @apply bg-haze;
    @apply h-[--intro-height];
  }

  .main-menu__item {
    @apply p-5;
    @apply text-xl;    
  }

  .main-menu__item a {
    @apply animate-linkHover;
    @apply border-haze border-b-2;
  }

  .main-menu__item a:hover {
    @apply text-jade;
    @apply border-jade border-b-2;
    @apply animate-linkHover;
  }
  
  .main-menu__item a.active {
    @apply border-jade;
  }

  /** INTRO **/

  .intro {
    @apply fade-in;
    @apply section;
    @apply flex;
    @apply flex-col;
    @apply md:grid;
    @apply md:grid-cols-3;
    @apply bg-hazelight;
    @apply border-haze;
    min-height: calc(100vh - var(--main-menu-height));
  }

  .intro__caption {
    @apply caption;
  }
  
  .intro img {
    @apply md:mr-4;
    @apply image-border;
    transform: scaleX(-1);
    @apply w-1/2;
    @apply md:w-full;
    @apply rounded-sm;
    @apply order-2;
  }

  .intro__art {
    @apply mt-12 md:m-4 md:mt-0;
    @apply order-2;
    @apply md:order-1;
  }

  .intro__copy {
    @apply text-root;
    @apply space-y-8;
    @apply md:pt-0;
    @apply font-serif;
    @apply text-2xl;
    @apply md:col-span-2;
    @apply md:border-l-2;
    @apply border-haze;
    @apply md:pl-6;
    @apply order-1;
  }

  .intro__copy--special {
    @apply special;
    @apply order-1;
  }

  .intro__cta {
    @apply text-jade;
    @apply underline;
    @apply underline-offset-4;
    @apply font-serif;
    @apply text-2xl;
    @apply font-bold;    
    @apply inline-block;  
    @apply order-1;  
  }

  .intro__cta:hover {
    @apply hover:link-hover;
  }

  /** PROJECTS MENU **/

  .projects {
    @apply fade-in;
    @apply section;
    @apply bg-hazelight;
  }

  .detail + .projects {
    @apply bg-haze;
  }

  .projects--inset-wrapper {
    @apply block;
    @apply bg-hazelight;
    @apply p-6;
  }

  .projects__title {    
    @apply text-root;
    @apply border-b-2;
    @apply border-tomato;
    @apply pb-2;
    @apply lg:sticky top-0 bg-hazelight z-20;
  }

  .projects__menu {
    @apply flex;
    @apply flex-col;
    @apply mt-6;
  }

  .projects__menu .featured {
    @apply order-1;
    @apply md:col-span-2;
  }

  .projects__menu li {
    order: 2;
  }

  .projects__menu__link {
    @apply block;
    @apply py-6;
  }  

  .projects__menu__link:hover .teaser__title {
    @apply underline;
    @apply underline-offset-4; 
    @apply text-jade;
  }

  .projects__menu__link:hover .teaser__image {
    @apply opacity-75;
    transition: opacity .5s ease;    
  }

  .projects__menu__link:hover .teaser__featured {
    z-index: 1;
  }

  /** TEASER **/

  .teaser__title {
    @apply title;
    @apply text-2xl;
    @apply text-root;    
  }

  .teaser-custom-rows {
    grid-template-rows: 1fr 4fr;
  }

  .teaser {
    @apply space-y-3;
    @apply lg:grid;
    @apply lg:teaser-custom-rows;
    @apply lg:grid-cols-2;
    @apply content-start;
    @apply border-b-2 border-haze pb-12;
  }

  .featured .teaser {
    @apply lg:block;
  }
  
  .teaser__featured-chiclet {
    @apply inline-block bg-grape text-hazelight p-1 rounded-sm absolute z-10;
  }

  .teaser__image {
    @apply rounded-sm;    
    @apply image-border;
  }

  .teaser__image-wrapper {
    @apply lg:row-span-2;
    @apply lg:ml-6;
    @apply lg:mt-0;
  }

  .featured .teaser__image-wrapper {
    @apply lg:ml-0;
  }

  .featured .teaser__title {
    @apply text-3xl lg:text-4xl;
  }

  .teaser__list {
    @apply mt-2;
  }

  .teaser__list li {
    @apply list-chiclets;
  }

  /** DETAIL **/

  .detail {
    @apply grid md:grid-cols-3 md:gap-x-12 bg-hazelight m-1;
    @apply fade-in;
  }

  .detail__basics {
    @apply mt-12 ml-6 order-2 md:order-1 md:col-span-1 space-y-3;
  }

  .detail__basics__title {
    @apply text-3xl lg:text-4xl font-serif;
  }

  .detail__basics__involvement {
    @apply lg:text-xl;
  }

  .detail__basics__links {
    @apply space-y-3;
  }

  .detail__basics__links a {
    @apply link;
    @apply text-lg lg:text-xl 2xl:text-2xl;
    @apply hover:link-hover;
  }

  .detail__list {
    @apply mt-2;
  }

  .detail__list li {
    @apply list-chiclets;
  }

  .detail__image-wrapper {    
    @apply mt-6 mr-6;
    @apply order-1 md:order-2 md:col-span-2;
  }

  .detail__image-wrapper img {
    @apply image-border;
  }

  .detail__masthead {
    @apply delay-700;
  }

  .detail__short-description {
    @apply special order-3 my-12 mx-6 text-2xl 2xl:text-3xl md:col-span-3 italic text-root border-y-2 border-haze py-8;
  }

  .detail__credits {
    @apply order-4 mx-6 space-y-3;
  }

  .detail__description {
    @apply order-5 mx-6 mt-6 md:mt-0 mb-12 font-serif text-lg md:col-span-2 md:pl-6 md:border-l-2 border-haze;
  }
}

@layer utility {
  
}